@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

#openMenuButton, #closeMenuButton {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 42;
    border-radius: 50%;
    border: none;
    color: #F8FBD7;
    background-color: #344A54;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    padding: 21px;
    margin: 0;
    transition: all 0.2s ease-in-out;
}
#closeMenuButton {
    background-color: #305050;
}

#openMenuButton:hover, #closeMenuButton:hover {
    cursor: pointer;
    transform: scale(115%);
    rotate: 120deg;
}

#menu {
    display: none;
    position: absolute;
    z-index: 43;
    padding: 70px 40px;
    
    width: 100%;
    padding-bottom: 40px;

    background-color: #344A54;
    color: #F8FBD7;
}

#menu h2 {
    font-size: 1.2em;
}

#expressionContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    height: 100%;

    background-color: #305050;
    color: #F8FBD7;
    
    text-align: center;
    overflow: hidden;
}

#expressionContainer h2 {
    position: relative;
    bottom: 50px;
    padding: 50px;
}

