@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

#openMenuButton {
    position: absolute;
    display: inline-block;
    left: 30px;
    top: 30px;
    z-index: 9;
    border-radius: 50%;
    
    width: 35px;
    height: 35px;
    color: #F8FBD7;
    background-color: #344A54;

    cursor: pointer;
}

#openMenuButton:hover {
    /* background-color: #021919; */
}

#closeMenuButton {
    position: relative;
    top: 38px;
    left: 30px;
    width: 35px;
    height: 35px;
    color: #F8FBD7;
    border-radius: 50%;
    cursor: pointer;
    margin-bottom: 60px;
    background-color: #305050;
}

#menu {
    display: none;
    position: absolute;
    z-index: 10;
    
    width: 100%;
    padding-bottom: 40px;

    background-color: #344A54;
    color: #F8FBD7;
}

#menu h2 {
    margin: 50px;
    font-size: 1.2em;
}

#expressionContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    height: 100%;

    background-color: #305050;
    color: #F8FBD7;
    
    text-align: center;
    overflow: hidden;
}

#expressionContainer h2 {
    position: relative;
    bottom: 50px;
    padding: 50px;
}

