#expressionContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: yellow;
    color: #344A54;
    
    cursor: pointer;
    text-align: center;
    overflow: hidden;
    transition: all 0.3s;
    z-index: 1;
}

#expressionText {
    position: relative;
    bottom: 50px;
    padding: 50px;
}
