#gameModeContainer {
    display: none;
    background-color: #344A54;
    color: white;
    z-index: 3;
}

#gameSettings {
    /* color: yellow; */
    padding: 70px 40px;
}

#gameWindow {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: yellow;
    padding: 70px 40px;
}

#playersContainer {
    color: grey;
    display: flex;
    justify-content: space-around;
}

#currentPlayer {
    color: yellow;
}