#gameModeContainer {
    /* display: none; */
    display: flex;
    justify-content: center;
    background-color: yellow;
    color: #344A54;
    z-index: 3;
}

#gameSettings {
    text-align: center;
    padding: 70px 40px;
}

#gameSettings #nbPoints {
    font-size: 6vh;
}

#gameWindow {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* color: yellow; */
    padding: 70px 40px;
}

#playersContainer {
    /* background-color: #344A54; */
    display: flex;
    justify-content: space-between;
    /* color: yellow; */
}

#currentPlayer {
    /* color: yellow; */
    text-align: center;
}

.player {
    font-weight: bold;
    text-align: center;
    margin: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.player:hover {
    transform: translateY(-20px);
    /* transform: scale(1.2); */
}