#gameModeContainer {
    /* display: none; */
    background-color: yellow;
    color: #344A54;
    z-index: 3;
}

#gameSettings {
    padding: 70px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#gameSettings input[type=text] {
    background-color: transparent;
    color: #344A54;
    border: 2px solid #344A54;
    padding: 10px;
}

#gameWindow {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* color: yellow; */
    padding: 70px 40px;
}

#playersContainer {
    color: grey;
    display: flex;
    justify-content: space-around;
}

#currentPlayer {
    /* color: yellow; */
}