body {
    font-family: 'Lato', sans-serif;
    /* font-family: 'Londrina Outline', cursive; */
    margin: 0;
    padding: 0;
    overflow: hidden;
}

h1 {
    font-size: 6vh;
}
h2 {
    font-size: 5vh;
}
h3 {
    font-size: 4vh;
}

.container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

button {
    background-color: yellow;
    color: #344A54;
    border: 2px solid #344A54;
    border-radius: 30px;
    padding: 10px;
    font-size: 3vh;
    line-height: 3vh;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s;
}

button:hover {
    transform: scale(1.3);
}

.circleButton {
    border-radius: 50%;
    height: 44px;
    width: 44px;
    font-size: medium;
}

input {
    background-color: transparent;
    color: #344A54;
    border: none;
    padding: 10px;
}

input[type=number] {
    font-size: 6vh;
    width: 100px;
    text-align: center;
    font-weight: bold;
}

input[type=text] {
    border-bottom: 2px solid #344A54;

}